aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
ast_serialize
attrs
audioop-lts
auto_type_annotate
beautifulsoup4
blinker
brotli
certifi
charset-normalizer
chess
click
cloudflare
colorama
contourpy
cycler
cypari2
cysignals
discord.py
distro
dotenv
fastapi
feedparser
Flask
fonttools
frozenlist
gmpy2
greenlet
gunicorn
h11
httpcore
httpx
idna
inputimeout
itsdangerous
Jinja2
joblib
kiwisolver
librt
lxml
MarkupSafe
matplotlib
MouseInfo
mpmath
multidict
mypy
mypy_extensions
narwhals
numpy
packaging
pandas
pathspec
pillow
pip-review
playwright
propcache
PyAutoGUI
pydantic
pydantic_core
pyee
PyGetWindow
PyMsgBox
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-Quartz
pyparsing
pyperclip
PyRect
PyScreeze
pyte
python-dateutil
python-dotenv
python-flint
python-pptx
pytweening
pytz
pyupgrade
requests
roastedbyai
rubicon-objc
scikit-learn
scipy
setuptools
sgmllib3k
six
sniffio
soupsieve
starlette
symengine
sympy
threadpoolctl
tokenize_rt
toml
typing-inspection
typing_extensions
urllib3
uvicorn
wcwidth
Werkzeug
xlsxwriter
yarl
